/*----------------------------------------------------
                 Vulcan - CSS File
------------------------------------------------------*/
/* Container
------------------------------------------------------*/
#container{
	border-top:11px solid #01619d;
}
#bottom-container{
	width:100%;
	height:263px;
	background-color:#01619d;
	float:left;
}

/* Footer
------------------------------------------------------*/
#footer-content{
	color:#50a0d2;
}
#footer-address p{
	color:#50a0d2;
}
#footer-address img{
	margin-bottom:10px;
}
#footer-last{
	width:960px;
	margin-top:36px;
	border-top:2px solid #4595c8;
	float:left;
}

/* Footer News list */
#footer-news h3{
	margin-bottom:7px;
	color:#e3e3e3;
}
ul.list-bottom li{
	background-image:url(blue/bottom-dot.png);
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:4px;
	line-height:26px;
}
ul.list-bottom li a{
	color:#50a0d2;
	text-decoration:none;
}
ul.list-bottom li a:hover{
	text-decoration:underline;
}
#footer-copyright a {
  color:#50a0d2;
}
/* Mainmenu Styling */
.navigation-footer li a{
	font-size:11px;
	text-decoration:none;
	color:#50a0d2; 
	display:block;
	margin:0px;
	padding-right:24px;
	float:left;
	z-index:100;	
}
.navigation-footer li.current a, .navigation-footer li a:hover, .navigation-footer li.current li a:hover{
	text-decoration:none;
	color: #50a0d2;	
}
.navigation-footer li.current li a{
	text-decoration:none;
	color:#50a0d2;
}