/*----------------------------------------------------
                 Vulcan - CSS File
------------------------------------------------------*/

/* Container
------------------------------------------------------*/
#container{
	border-top:11px solid #d27e02;
}

#bottom-container{
	width:100%;
	height:263px;
	background-color:#d27e02;
	float:left;
}


/* Footer
------------------------------------------------------*/
#footer-content{
	color:#ffba53;
}
#footer-address p{
	color:#ffba53;
}
#footer-last{
	width:960px;
	margin-top:36px;
	border-top:2px solid #f0a332;
	float:left;
}

/* Footer News list */
#footer-news h3{
	margin-bottom:7px;
	color:#e3e3e3;
}
ul.list-bottom li{
	background-image:url(orange/bottom-dot.png);
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:4px;
	line-height:26px;
}
ul.list-bottom li a{
	color:#ffba53;
	text-decoration:none;
}
ul.list-bottom li a:hover{
	text-decoration:underline;
}
#footer-copyright{
	font-size:11px;
	margin-top:10px;
	float:right;
}
#footer-copyright a {
  color:#ffba53;
}
/* Mainmenu Styling */
.navigation-footer li a{
	font-size:11px;
	text-decoration:none;
	color:#ffba53; 
	display:block;
	margin:0px;
	padding-right:24px;
	float:left;
	z-index:100;	
}
.navigation-footer li.current a, .navigation-footer li a:hover, .navigation-footer li.current li a:hover{
	text-decoration:none;
	color: #ffba53;	
}
.navigation-footer li.current li a{
	text-decoration:none;
	color:#ffba53;
}